<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Đơn vị là Bytes. 
             3000000000 bytes = ~2.8 GB (Thoải mái cho file 2GB) 
        -->
				<requestLimits maxAllowedContentLength="3000000000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>